@model SportsLeague.Models.Division

@{
    ViewData["Title"] = "Division - Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new Division</h2>
<hr />

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)<br />
    @Html.EditorFor(model => model.Name)<br />
    @Html.LabelFor(model => model.Description)<br />
    @Html.EditorFor(model => model.Description)<br />
    @Html.LabelFor(model => model.Skill)<br />
    @Html.EditorFor(model => model.Skill)<br />

    @Html.LabelFor(model => model.MaxTeams)<br />
    @Html.EditorFor(model => model.MaxTeams)<br />

    <input type="submit" value="Create" class="btn btn-default" />

}

@Html.ActionLink("Back to Divisions", "Index")